.cv {
  margin-bottom: 40px;

  .profile {
    margin-bottom: 20px;
  }

  .contact-deets {
    margin-top: 30px;

    .deet {
      text-align: center;
      word-break: break-all;
    }
  }

  .cv-time-heading {
    .dates {
      text-align: right;
    }
  }

}

