<div class="row">
  <div class="col-lg-12">
    <h1>Laurie Boyes</h1>

    <p>
      Ambitious and versatile software developer with an avid interest in technology and software craftsmanship.
      First-class graduate of The University Of Birmingham.
    </p>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Employment</h2>

    <h3>WIREWAX
      <small>Sept 2014 – Present</small>
    </h3>

    <p>

    </p>

    <p>
      Leveraged a range of technologies to aid in development and quality of product, including: Apache Solr, Spring
      MVC,
      Spring Security, Spring batch, Hibernate, Selenium WebDriver, OWASP ESAPI, Cucumber-JVM, Mockito.
    </p>

    <p>
      Completed a range of additional successful web projects:
    </p>

    <ul>

      <li>
        JavaScript graphing tool augmentation to existing website, using RESTful web services, Stapes JavaScript MVC
        framework, QUnit JavaScript unit testing.
      </li>

      <li>
        Coordinated with another team to create SOAP service client and server for communication between two web
        applications to enable purchasing of digital products.
      </li>
    </ul>

    <h3>Informa Business Information
      <small>Aug 2012 – Aug 2014</small>
    </h3>

    <p>
      Part of agile team developing solution for Verdict Retail website using Spring MVC and Escenic Framework.
      Eagerly took ownership of key areas of project, including automated customer email system, website search
      functionality, website security.
    </p>

    <p>
      Leveraged a range of technologies to aid in development and quality of product, including: Apache Solr, Spring
      MVC,
      Spring Security, Spring batch, Hibernate, Selenium WebDriver, OWASP ESAPI, Cucumber-JVM, Mockito.
    </p>

    <p>
      Completed a range of additional successful web projects:
    </p>

    <ul>

      <li>
        JavaScript graphing tool augmentation to existing website, using RESTful web services, Stapes JavaScript MVC
        framework, QUnit JavaScript unit testing.
      </li>

      <li>
        Coordinated with another team to create SOAP service client and server for communication between two web
        applications to enable purchasing of digital products.
      </li>
    </ul>


    <h3>Nestlé UK
      <small>July 2010 – June 2011</small>
    </h3>

    <p>
      Paid year in industry. Software development spanning full development cycle. Also took charge of hardware and OS
      upgrade of approximately 100 PCs throughout Nestlé UK Logistics.
    </p>


    <h3>Aimhigher Associates
      <small>Oct 2009 – March 2010</small>
    </h3>

    <p>
      Student mentor. Holding regular one-to-one academic mentoring sessions with sixth-form students. Organised events
      with mentees to encourage advancement to higher education.
    </p>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">

    <h2>Education</h2>

    <h3>The University Of Birmingham
      <small>Sept 2008 – June 2012</small>
    </h3>

    <p>
      BSc Computer Science (First class)
    </p>

    <p>
      Achieved highly in varied and challenging range of modules in the field of computer science and software
      development. Completed dissertation project in Natural Language Processing. Won award for best first-year Computer
      Science student 2009 based on grade average.
    </p>

    <h3>Lakeview College, Chilwell School
      <small>June 2000 – June 2007</small>
    </h3>

    <p>
      3 A levels: AAB (Computing, English Language, French)
    </p>

    <p>
      12 GCSEs: Three A*, seven A, and two B grades
    </p>

  </div>
</div>
