<div class="cv">
  <div class="row profile">
    <div class="col-lg-12">
      <h1>Laurie Boyes</h1>

      <p>
        Ambitious and versatile software developer with an avid interest in technology and software craftsmanship.
        First-class graduate of The University Of Birmingham.
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h2>Employment</h2>

      <cv-time-heading title="WIREWAX" dates="Sept 2014 – Present"></cv-time-heading>

      <p>
        Key member of small team developing and maintaining <a href="http://studio.wirewax.com/"><i>WIREWAX Studio</i></a>
        single-page web application. Working extremely closely with UX design team and stakeholders to solidify ideas
        into well-honed components.
      </p>

      <p>
      </p>

      <p>
        Demonstrated high degree of initiative by introducing and implementing concept of living style guide, with UI
        components reusable across applications as bower module.
      </p>

      <p>
        Quickly adapted to role of front-end developer, acquiring proficiency in JavaScript technologies, including:
      </p>
      <ul>
        <li>AngularJS framework</li>
        <li>Grunt</li>
        <li>Bower</li>
        <li>D3 (data visualisation)</li>
        <li>Jasmine and Karma</li>
      </ul>


      <cv-time-heading title="Informa Business Information" dates="Aug 2012 – Aug 2014"></cv-time-heading>

      <p>
        Part of agile team developing solution for <a href="http://service.verdictretail.com"><i>Verdict Retail</i></a> website
        using Spring MVC and Escenic Framework. Eagerly took ownership of key areas of project, including automated
        customer email system, website search functionality, website security.
      </p>

      <p>
        Leveraged a range of technologies to aid in development and quality of product, including: Apache Solr, Spring
        MVC, Spring Security, Spring batch, Hibernate, Selenium WebDriver, OWASP ESAPI, Cucumber-JVM, Mockito.
      </p>

      <p>
        Completed a range of additional successful web projects, gaining skills in Spring RESTful web services and SOAP web
        services.
      </p>


      <cv-time-heading title="Nestlé UK" dates="July 2010 – June 2011"></cv-time-heading>

      <p>
        Paid year in industry. Software development spanning full development cycle. Also took charge of hardware and OS
        upgrade of approximately 100 PCs throughout Nestlé UK Logistics.
      </p>

      <cv-time-heading title="Aimhigher Associates" dates="Oct 2009 – March 2010"></cv-time-heading>

      <p>
        Student mentor. Holding regular one-to-one academic mentoring sessions with sixth-form students. Organised
        events
        with mentees to encourage advancement to higher education.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">

      <h2>Education</h2>

      <cv-time-heading title="The University Of Birmingham" dates="Sept 2008 – June 2012"></cv-time-heading>

      <p>
        BSc Computer Science (First class)
      </p>

      <p>
        Achieved highly in varied and challenging range of modules in the field of computer science and software
        development. Completed dissertation project in Natural Language Processing. Won award for best first-year
        Computer
        Science student 2009 based on grade average.
      </p>

      <cv-time-heading title="Lakeview College, Chilwell School" dates="June 2000 – June 2007"></cv-time-heading>

      <p>
        3 A levels: AAB (Computing, English Language, French)
      </p>

      <p>
        12 GCSEs: Three A*, seven A, and two B grades
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <h3>Skills</h3>

      <ul>
        <li>Effective teamwork and communication skills, bringing enthusiasm to an agile development environment</li>
        <li>JavaScript and single-page web applications in AngularJS</li>
        <li>D3 for JavaScript data visualisation</li>
        <li>Grunt, Bower</li>
        <li>HTML5, CSS3, LESS</li>
        <li>Java, Spring MVC</li>
        <li>TDD in Java with JUnit, Mockito, HSQL</li>
        <li>Javascript and AngularJS unit testing with Jasmine and Karma</li>
        <li>Behavioral browser testing with Selenium and Cucumber</li>
        <li>Database applications programming with SQL and Spring Data JPA. Some experience with MongoDB</li>
        <li>Well-versed in Git. Experience with SVN</li>
      </ul>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <h3>Interests</h3>

      <p>Hobby coding projects, some of which are available to view on my <a href="http://github.com/lrnk">github</a>
        and on my <a href="http://lrnk.co.uk">personal website</a></p>

      <p>Took part in an online 48-hour game programming competition. A link to my competition entry page can
        be found on my personal website.</p>

      <p>Keen reader and founding member of a University book club.</p>

      <p>Regular squash player.</p>

    </div>
  </div>
</div>
