<div class="jumbotron">
  <p class="lead">
    <img src="images/scrabble.jpg" alt="I'm Yeoman"><br>
    Welcome to the personal website of Laurie Boyes, London software dev
  </p>
</div>


<div class="row marketing">
  <h4>Geek Stuff</h4>


  <p>
    Here's my very own <a href="https://github.com/Lrnk" target="_blank">GitHub Profile</a>, if you're interested in
    that sort of thing.
  </p>

  <h4>Games</h4>

  <ul>

    <li>
      My entry for Ludum Dare 29 <a href="http://www.ludumdare.com/compo/ludum-dare-29/?action=preview&uid=6545">Beneath
      this cool, calm exterior</a>, written in JavaScript with <a href="http://melonjs.org/" target="_blank">melonJS</a>.
      Theme: 'Beneath the Surface' (Spring 2014)
    </li>

    <li>
      Snake clone with a twist <a
      href="https://github.com/Lrnk/self-esteem-snake/releases/download/v1.1-beta/SelfEsteemSnake-1.1-beta.jar">Lrnk
      Snake</a>, written in Java (Summer 2013)
    </li>

    <li>
      Space platformer <a href="littlegreenmen.html">Little Green Men</a>, HTML5 and JavaScript (Summer 2012)
    </li>

    <li>
      Tetris clone <a href="games/LrnceTetris.jar">LrnceTetris</a>, Java (Spring 2010)
    </li>

  </ul>
</div>
